/*BORDES*/

@mixin bordes {
    background-color: map-get($colores, translucido);
    border-radius: 10px;
<<<<<<< HEAD
}

$font-titulo: 18px;
=======
}
>>>>>>> 7ef39a4612f93200ce99894c94b7e1c0e423ab11
