<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e75bcebca4893b7c9bfd32b7cb8e49190519e140
$color-titulo: #9ea160;
$contorno-titulo: 1px  0px 0px black, 0px  1px 0px black, -1px  0px 0px black, 0px -1px 0px black;
$color-NavFooter: black;
$color-h2: #56545f;
$color-parrafo: #f9d5b2;

<<<<<<< HEAD
=======
=======
$color-titulo: rgb(115, 80, 110);
$contorno-titulo: 1px  0px 0px black, 0px  1px 0px black, -1px  0px 0px black, 0px -1px 0px black;
$color-NavFooter: black;
$color-h2: #56545f;
>>>>>>> 7ef39a4612f93200ce99894c94b7e1c0e423ab11
>>>>>>> e75bcebca4893b7c9bfd32b7cb8e49190519e140

/*MAPA*/

$colores: (
    blanco: white,
    violeta: violet,
    verdesito: rgb(44, 73, 63),
    negro: black,
<<<<<<< HEAD
    translucido: rgba(0, 0, 0, 0.3),
    translucidoform: rgba(0, 0, 0, 0.4),
    titulo: #f25489,
=======
<<<<<<< HEAD
    translucido: rgba(0, 0, 0, 0.3),
    translucidoform: rgba(0, 0, 0, 0.4),
    titulo: #f25489,
=======
    translucido: rgba(0, 0, 0, 0.4),
>>>>>>> 7ef39a4612f93200ce99894c94b7e1c0e423ab11
>>>>>>> e75bcebca4893b7c9bfd32b7cb8e49190519e140
)