$color-titulo: #9ea160;
$contorno-titulo: 1px  0px 0px black, 0px  1px 0px black, -1px  0px 0px black, 0px -1px 0px black;
$color-NavFooter: black;
$color-h2: #56545f;
$color-parrafo: #f9d5b2;


/*MAPA*/

$colores: (
    blanco: white,
    violeta: violet,
    verdesito: rgb(44, 73, 63),
    negro: black,
    translucido: rgba(0, 0, 0, 0.3),
    translucidoform: rgba(0, 0, 0, 0.4),
    titulo: #f25489,
)