$color-titulo: rgb(115, 80, 110);
$contorno-titulo: 1px  0px 0px black, 0px  1px 0px black, -1px  0px 0px black, 0px -1px 0px black;
$color-NavFooter: black;
$color-h2: #56545f;

/*MAPA*/

$colores: (
    blanco: white,
    violeta: violet,
    verdesito: rgb(44, 73, 63),
    negro: black,
    translucido: rgba(0, 0, 0, 0.4),
)