//Import
@import "colores";
@import "letra";
@import "order";
@import "fondo";
@import "bordes";

////////////////////

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/fondo.jpg);
  width: 100%;
  height: 100%;
}

//Contenedores//

.containerGalery{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8,1fr);
  width: 100%;
  p{
  background-color: map-get($colores, translucido);
  @include bordes;
  @include letratexto;
  font-family: $letrasecundaria;
  }
}

.containerNav{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(4,1fr);
  align-items: center;
  height: 153px;
  background-color: map-get($colores, translucido);
}


.containerMenu{
  display: flex;
  grid-column: 2/12;
  grid-row: 3/4;
  justify-content: space-around;
  color: $color-NavFooter;
  height: 40px;
  align-items: center;
  list-style: none;
  font-family: $letraprincipal;
  font-size: 19px;
  a{
      text-decoration: none;
      color: map-get($colores, negro);
      animation-duration: 3s;
      animation-name: slidein;  
  }
  a:hover{
      color: map-get($colores, violeta);
  }
}

.containerFooter{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: map-get($colores, translucido);
}

.containerMenuF{
  display: flex;
  grid-column: 1/7;
  font-size: 19px;
  font-family: $letraprincipal;
  justify-content: space-around;
  list-style: none;
  li a{
    text-decoration: none;
    color: $color-NavFooter;
    }
  li a:hover{
    color: map-get($colores, violeta);
    }
}

.containerInstagram {
  @extend .centralVid;
  grid-column: 9/12;
  grid-row: 2/5;
  a {
    @include bordes;
  padding: 18px;
  }
}

.containerForm{
  grid-column: 3/6;
    grid-row: 2/6;
    display: grid;
    justify-content: center;
    align-content: space-around;
    font-family: $letraprincipal;
    text-shadow: 0px 3px 3px rgb(255 255 255 / 50%), 0px -1px 1px rgb(0 0 0 / 30%);
    text-align: center;
    background-color: map-get($colores, translucidoform);
}

.containerMap{
  grid-column: 8/12;
  grid-row: 2/7;
  @extend .centralVid;
}

/*Titulos*/

.titleHeader{
  grid-column: 5/9;
  grid-row: 1/2;
  @extend .centralVid;
  color: $color-titulo;
  font-family: $letraprincipal;
  font-size: 35px;
  text-shadow: 1px 0px 0px #000, 0px 1px 0px #080908, -1px 0px 0px #000, 0px -1px 0px #000;
  border-radius: 4px;
}

.titleService{
  grid-column: 2/6;
  grid-row: 1/2;
  font-family: $letraprincipal;
  flex-direction: column;
  @extend .centralVid;
  @include letracompuesta;
  h2 {
  font-size: 16px;
}
}

.titleNos{
  grid-column: 3/7;
  grid-row: 1/2;
  font-family: $letraprincipal;
  flex-direction: column;
  @extend .centralVid;
  @include letracompuesta;
  h2 {
  font-size: 16px;
}
}

.titleTyc{
  @extend .central;
  color: $color-titulo;
  font-family: $letrasecundaria;
  font-size: $font-titulo;
  text-shadow: $contorno-titulo;
}

.titleInsta {
  grid-column: 9/12;
  grid-row: 1/2;
  @extend .centralVid;
  color: map-get($colores, blanco);
  $letrasecundaria: "Patrick Hand", cursive;
  h2 {
  @include letratexto;
  @include bordes;
}
}

.titleMap{
  grid-column: 8/12;
  grid-row: 1/2;
  @extend .centralVid;
  @include letratexto;
  background-color: map-get($colores, translucidoform );
  color: map-get($colores, blanco);
  $letrasecundaria: "Patrick Hand", cursive;
}

/*Iconos,Fotos,Videos*/

.iconRuta{
  grid-row: 1/4;
  grid-column: 1/3;
  @extend .centralVid;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 3s;
}

  .iconVerdura{
    @extend .central;
    grid-column: 3/5;
    grid-row: 2/4;
    @extend .parpadeo;
  }

  .iconFrutas{
    @extend .central;
    grid-column: 6/8;
    grid-row: 2/4;
    @extend .parpadeo;
  }

  .iconCereales{
    @extend .central;
    grid-column: 9/11;
    grid-row: 2/4;
    @extend .parpadeo;
  }

  .iconYogurt{
    @extend .central;
    grid-column: 3/5;
    grid-row: 4/6;
    @extend .parpadeo;
  }

  .iconFrutSecos{
    @extend .central;
    grid-column: 6/8;
    grid-row: 4/6;
    @extend .parpadeo;
  }

  .iconComidas{
    @extend .central;
    grid-column: 9/11;
    grid-row: 4/6;
    @extend .parpadeo;
  }

  .iconSintacc{
    @extend .central;
    grid-column: 3/5;
    grid-row: 7/9;
  }

  .iconGranos{
    @extend .central;
    grid-column: 6/8;
    grid-row: 7/9;
  }

  .iconDulces{
    @extend .central;
    grid-column: 9/11;
    grid-row: 7/9;
  }

.iconTractor{
    animation-duration: 6s;
    animation-name: tractor;
    animation-iteration-count: infinite;
    grid-column: 7/13;
    display: flex;
    align-items: center;
}

.vid1{
  grid-column: 7/9;
  grid-row: 1/3;
  @extend .centralVid;
}

.vid2{
  grid-column: 9/12;
  grid-row: 1/3;
  @extend .centralVid;
}

.vid3{
  grid-column: 7/9;
  grid-row: 3/6;
  @extend .central;
}

.vid4{
  grid-column: 9/12;
  grid-row: 3/6;
  @extend .central;
}

  
.iconMan1 {
  grid-column: 2/5;
  grid-row: 2/3;
  align-items: center;
  @extend .centralVid;
}

.iconMan2 {
  grid-column: 5/8;
  grid-row: 2/3;
  align-items: center;
  @extend .centralVid;
}

.iconGirl1 {
  grid-column: 2/5;
  grid-row: 4/5;
  @extend .centralVid;
}

.iconGirl2 {
  grid-column: 5/8;
  grid-row: 4/5;
  @extend .centralVid;
}

/*Textos,Parrafos*/

.textMan1 {
  grid-column: 2/5;
  grid-row: 3/4;
  $letrasecundaria: "Patrick Hand", cursive;
  @extend .centralVid;
}

.textMan2 {
  grid-column: 5/8;
  grid-row: 3/4;
  $letrasecundaria: "Patrick Hand", cursive;
  @extend .centralVid;
}

.textGirl1 {
  grid-column: 2/5;
  grid-row: 5/6;
  $letrasecundaria: "Patrick Hand", cursive;
  @extend .centralVid;
}

.textGirl2 {
  grid-column: 5/8;
  grid-row: 5/6;
  $letrasecundaria: "Patrick Hand", cursive;
  @extend .centralVid;
}

.textNutri{
  grid-column: 2/6;
  grid-row: 2/4;
  text-align: center;
  $letrasecundaria: "Patrick Hand", cursive;
  height: 388px;
}

.textContacto{
  display: flex;
  grid-column: 2/8;
  grid-row: 7/8;
  @include letracompuesta;
  font-size: 17px;
  flex-direction: column;
  text-transform: uppercase;
}



/*Formulario,Tablas,Botones*/

.formContact{
  display: none;
}

.tableProducts{
  background-image: url(../assets/fondo.jpg);
  color: #e9ebbb;
  border: 1px solid black;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-family: $letrasecundaria;
  tr{
    background-color: map-get($colores, translucidoform);
    font-size: 21px;
  }
  td{
    font-size: 18px;
  }
  th, td{
    border: 1px solid black;
  }
}

.separadorProduc{
  @extend .centralVid;
  color: map-get($colores, titulo );
  text-align: center;
  border: 2px solid black;
  font-family: $letrasecundaria;
  background-color: map-get($colores, translucidoform);
  font-size: 28px;
  -webkit-text-stroke: 1px black;
}

.botonContacto{
    grid-column: 3/5;
    grid-row: 4/5;
    text-align: center;
    font-family: $letrasecundaria;
    @extend .parpadeo;
}

.botonContact{
  grid-column: 11/13;
  grid-row: 1/2;
  @extend .central;
  font-family: $letrasecundaria;
  font-size: 19px;
  height: 40px;
  a{
    text-decoration: none;
    color: $color-NavFooter;
  }
}

/*NO DESKTOP*/

.botonMobile{
  display: none;
}

.ubiCarla{
  display: none;
}

.ubiFede{
  display: none;
}

.ubiMaria{
  display: none;
}

.ubiJose{
  display: none;
}

/*Keyframes*/

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
  }
  
@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
  }
  
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
  }

  @keyframes rotar_logo{
    0%{
        transform: rotateX(0deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotateX(360deg);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

    @keyframes tractor {
        from {
          margin-left: 90%;
          width: 10px;
          height: 10px;
        }
      
        to {
          margin-left: 0%;
          width: 90%;
        }
      } 

      @keyframes aviso {
        
        

        from {
          transform: none;
        }

        90% {
          transform: scale(0.8);
        }

        100% {
          transform: scale(1.0);
        }
      }
      









///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////* Responsive mobile *//////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 576px){


  .titleHeader {
      grid-column: 1/8;
      grid-row: 1/1;
      font-size: 25px;
  }

  .titleService{
    grid-column: 2/12;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    h2{
      font-size: 14px;
    }
  }

  .titleInsta{
    grid-column: 2/12;
    grid-row: 6/7;
    justify-content: center;
    align-items: baseline;
  h2{
    font-size: 14px;
    padding: 3px;
    margin: 30px;
    text-align: center;
  }
  }

  .iconRuta {
    display: none;
  }
  
  .iconTractor{
    display: none;
  }

  .containerNav{
      height: 118px;
  }

  .containerMenu{
    grid-column: 1/13;
    color: rgb(105, 20, 105);
    grid-row: 2/3;
    font-size: 15px;
    list-style: none;
      li{
        height: 41px;
        width: 51px;
      a img{
        height: 25px;
      }
      }
    }

    .containerMenuF{
      font-size: 15px;
    }

    .containerGalery{
    div {
      img{
        width: 90px;
        height: 75px;
      }
      iframe{
        width: 200px;
        height: 200px;
      }
      p{
        background-color: rgba(0, 0, 0, 0.3);
border-radius: 10px;
font-size: 13px;
padding: 5px;
color: white;
font-family: "Patrick Hand", cursive;
      }
    }
  }

  .titleNos{
    text-align: center;
    grid-column: 2/12;
    h2{
      font-size: 14px;
    }
  }
  .titleGral{
    grid-column: 2/12;
    h1{
      font-size: 22px;
    }
    h2{
      font-size: 8px;
      color: $color-NavFooter; 
    }
  }
  
  .botonMobile{
    display: flex;
    grid-column: 5/9;
    grid-row: 1/2;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 10px;
    padding: 3px;
    justify-content: center;
    align-items: end;
    a{
      text-decoration: none;
      color: white;
      background-color: rgba(0,0,0,0.3);
      padding: 3px;
      margin: 9px;
      border-radius: 3px;
    }
  }

  .botonContacto{
    display: none;
  }

  .botonContact{
    font-size: 14px;
    grid-column: 10/13;
    a img{
      height: 10px;
    }
  }

  .iconSintacc{
    grid-row: 6/7;
  }

  .iconGranos{
    grid-row: 6/7;
  }

  .iconDulces{
    grid-row: 6/7;
  }

  .iconMan1{
    grid-column: 2/6;
    grid-row: 2/3;
  }

  .iconMan2{
    grid-column: 8/12;
    grid-row: 2/3;
  }

  .iconGirl1{
    grid-column: 2/6;
    grid-row: 4/5;
  }

  .iconGirl2{
    grid-column: 8/12;
    grid-row: 4/5;
  }

  .titleMap{
    display: none;
  }

  .fondo--men1{
    grid-column: 2/6;
    grid-row: 3/4;
    height: 145px;
width: 190px;
  }

  .fondo--men2{
    grid-column: 8/12;
    grid-row: 3/4; 
    height: 145px;
width: 190px;
  }

  .fondo--women1{
    grid-column: 2/6;
    grid-row: 5/6; 
    height: 145px;
width: 190px;
  }

  .fondo--women2{
    grid-column: 8/12;
    grid-row: 5/6; 
    height: 145px;
width: 190px;
  }

  
  .containerInstagram{
    grid-column: 2/12;
    grid-row: 6/9;
    justify-content: center;
    align-content: center;
    a img{
      height: 250px;
      width: 200px;
    }
  }

    .containerFooter{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 11px;
        height: 60px;
    }

    .containerForm{
    grid-column: 2/12;
    grid-row: 2/8;
    font-size: 14px;
    height: 410px;
      label {
        input {
          width: 119px;
          height: 15px;
        }
        select {
          width: 86px;
          height: 17px;
        }
      }
  }

   .titleNutriDescrip{
        font-size: 10px;
    }

    .titleNutri{
      grid-column: 2/12;
      text-align: center;
      font-size: $font-titulo;
    }

    .vid1{
      grid-column: 2/6;
      grid-row: 3/7;
    }

    .vid2{
      grid-column: 7/11;
      grid-row: 3/7;
    }

    .vid3{
      grid-column: 2/6;
      grid-row: 6/8;
      align-items: center;
    }

    .vid4{
      grid-column: 7/11;
      grid-row: 6/8;
      align-items: center;
    }

    .formContact{
      grid-column: 2/12;
      display: flex;
      justify-content: center;
      grid-row: 1/1;
      height: 42px;
      align-self: center;
      h1{
        font-size: 15px;
        padding: 3px;
        margin: 9px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        color: white;
      }
      }
      
      .tableProducts {
      td {
        font-size: 12px;
      }

      tr{
        font-size: 11px;
      }
    }
    
    .textNutri{
      grid-column: 2/12;
      grid-row: 2/5;
      p{
        font-size: 16px;
        margin: 1px;
        padding: 1px;
      }
    }

    .textContacto{
      grid-column: 2/12;
      grid-row: 6/7;
      font-size: 10px;
      justify-content: center;
      padding: 10px;
      line-height: 20px;
    }

    .containerMap{
      grid-column: 4/9;
      grid-row: 7/9;
      height: 275px;
width: 300px;
      a img{
        height: 275px;
width: 300px;
    }
  }  

}