*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containerNav{
    background-image: linear-gradient(to right, green, white);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    height: 153px;
}

.titleHeader{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    color: rgb(44, 73, 63);
    font-family:verdana;
    font-size: 25px;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
}

.iconRuta{
    grid-row: 1/3;
    grid-column: 5/5;
    display: flex;
    justify-content: center;
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes rotar_logo{
    0%{
        transform: rotateX(0deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotateX(360deg);
    }
}

.containerMenu{
    display: flex;
    grid-column: 1/5;
    justify-content: space-around;
    color: rgb(105, 20, 105);
}

.containerMenu a:hover{
    color: violet;
}

.containerMenu a{
    text-decoration: none;
    cursor: pointer;
}

.containerGalery{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    height: 708px;
    background-image: url(../assets/fondo.webp);
}

.iconVerdura{
    grid-column: 3/5;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
}

.iconFrutas{
    grid-column: 6/8;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
}

.iconCereales{
    grid-column: 9/11;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
}

.iconYogurt{
    grid-column: 3/5;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
}

.iconFrutSecos{
    grid-column: 6/8;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
}

.iconComidas{
    grid-column: 9/11;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
}

.iconSintacc{
    grid-column: 3/5;
    grid-row: 7/9;
    display: flex;
    justify-content: center;
}

.iconGranos{
    grid-column: 6/8;
    grid-row: 7/9;
    display: flex;
    justify-content: center;
}

.iconDulces{
    grid-column: 9/11;
    grid-row: 7/9;
    display: flex;
    justify-content: center;
}

.containerFooter{
    display: flex;
    background-image: linear-gradient(to left, green, white);
    height: 107px;
    justify-content: space-around;
    align-items: center;
}

.containerFooter div a{
    text-decoration: none;
    color: rgb(105, 20, 105);
}

.titleTyc{
    display: flex;
    justify-content: center;
    color: rgb(44, 73, 63);
    font-family:verdana;
    font-size: 25px;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
}

.parrafo{
    background-image: linear-gradient(to top, white, green);
}

.titleNutri{
    grid-column: 6/9;
    grid-row: 1/1;
    color: rgb(145, 105, 145);
    font-size: 25px;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
}

.titleNutriDescrip{
    grid-column: 2/12;
    grid-row: 2/2;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.vid1{
    grid-column: 3/6;
    grid-row:    3/6;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vid2{
    grid-column: 8/11;
    grid-row: 3/6;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vid3{
    grid-column: 3/6;
    grid-row: 6/8;
    display: flex;
    justify-content: center;
}

.vid4{
    grid-column: 8/11;
    grid-row: 6/8;
    display: flex;
    justify-content: center;
}

.sectionStyle{
    padding: 20px;
    width: 79%;
    background: rgb(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    border-radius: 7px;
    font-size: 13px;
}

.containerIframe{
    width: 100%;
    display: flex;
}

/* Responsive mobile */

@media screen and (max-width: 320px){
    .titleHeader {
        grid-column: 1/6;
        grid-row: 1/1;
        font-size: 14px;
    }

    .iconRuta {
    grid-row: 1/1;
    grid-column: 5/5;
    }

    .iconRuta img{
        width: 36px;
    }

    .containerNav{
        grid-template-rows: repeat(3,1fr);
        height: 120px;
    }

    .containerMenu {
        display: grid;
        grid-column: 1/5;
        color: rgb(105, 20, 105);
        grid-row: 2/4;
        font-size: 12px;
        justify-content: center;
      }

      .containerGalery div img{
          width: 60px;
          height: 60px;
      }

      .containerGalery{
        height: 300px;
      }

      .containerFooter{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          font-size: 11px;
          height: 73px;
      }

      .containerGalery div iframe{
        width: 90px;
        height: 90px;
      }

      .titleNutriDescrip{
          font-size: 10px;
      }

      .titleNutri{
        grid-column: 2/12;
        text-align: center;
        font-size: 16px;
      }

      .vid1{
        grid-column: 2/6;
      }

      .vid2{
        grid-column: 7/11;
      }

      .vid3{
        grid-column: 2/6;
      }

      .vid4{
        grid-column: 7/11;
      }
}    



/* Responsive Tablet */

@media screen and (max-width: 600px) {
    .titleHeader {
        grid-column: 2/5;
        font-size: 20px;
    }

    .containerMenu{
        font-size: 13px;
        text-align: center;
        grid-column: 1/5;
    }

    .containerGalery{
        height: 614px;
    }

    .iconVerdura {
        grid-column: 1/5;
    }

    .iconFrutas {
    grid-column: 5/8;
    }

    .iconYogurt {
        grid-column: 1/5;
    }

    .iconFrutSecos {
        grid-column: 5/8;
    }
    
    .titleNutri {
        grid-column: 4/10;
    }

    .titleNutriDescrip {
        grid-column: 2/12;
        grid-row: 1/2;
        align-items: end;
        font-size: 16px;
    }

    .containerGalery div iframe{
        width: 250px;
        height: 200px;
    }

    .vid1 {
        grid-column: 1/6;
    }

    .vid2 {
        grid-column: 7/11;
    }

    .vid3 {
        grid-column: 1/6;
    }

    .vid4 {
        grid-column: 7/11;
    }

}






  



